weather_large copy.json
[{"id":"8c741af4.e5b278","type":"tab","label":"eInk Large","disabled":false,"info":""},{"id":"40536720.c575e8","type":"inject","z":"8c741af4.e5b278","name":"15 Minutes","topic":"","payload":"","payloadType":"date","repeat":"900","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":40,"wires":[["4257449d.24eecc"]]},{"id":"599df52c.1c3ffc","type":"file","z":"8c741af4.e5b278","name":"Overwrite einklarge.txt","filename":"/media/mybook/einklarge.txt","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":600,"y":160,"wires":[["7c9fead6.e6c234"]]},{"id":"55f91499.191bac","type":"function","z":"8c741af4.e5b278","name":"Format Now Weather","func":"\nvar message = \"\";\nmessage += parseFloat(msg.payload.main.temp).toFixed(0) + \"° \\n\" + msg.payload.weather[0].main;\nmessage += \"\";\n\nmsg.payload = message;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":160,"wires":[["599df52c.1c3ffc"]]},{"id":"4257449d.24eecc","type":"http request","z":"8c741af4.e5b278","name":"OWM Now","method":"GET","ret":"obj","paytoqs":false,"url":"http://api.openweathermap.org/data/2.5/weather?zip=01776&units=imperial&appid=ba1234d29cd7ea562ab33b9e5e78b9c4","tls":"","persist":false,"proxy":"","authType":"","x":130,"y":160,"wires":[["55f91499.191bac"]]},{"id":"7c9fead6.e6c234","type":"http request","z":"8c741af4.e5b278","name":"OWM Forecast","method":"GET","ret":"obj","paytoqs":false,"url":"api.openweathermap.org/data/2.5/forecast/daily?zip=01776&units=imperial&cnt=1&appid=ba1234d29cd7ea562ab33b9e5e78b9c4","tls":"","persist":false,"proxy":"","authType":"","x":140,"y":220,"wires":[["2aaa5229.9b1bde"]]},{"id":"2aaa5229.9b1bde","type":"function","z":"8c741af4.e5b278","name":"Format Forecast Weather","func":"\nvar message = \"\";\nmessage += parseFloat(msg.payload.list[0].temp.max).toFixed(0) + \"°/\" +  parseFloat(msg.payload.list[0].temp.min).toFixed(0) + \"° \\n\" + msg.payload.list[0].weather[0].main;\nmessage += \"\";\nmsg.payload = message;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":220,"wires":[["5d553017.63f2c"]]},{"id":"5d553017.63f2c","type":"file","z":"8c741af4.e5b278","name":"Append einklarge.txt","filename":"/media/mybook/einklarge.txt","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":600,"y":220,"wires":[[]]},{"id":"274b7546.dc585a","type":"debug","z":"8c741af4.e5b278","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":360,"wires":[]},{"id":"72434258.9efb8c","type":"debug","z":"8c741af4.e5b278","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":320,"wires":[]}]